# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

e2b.toml
certificates
lib/lib/utils.ts
lib/lib/streaming/create-tool-calling-stream.ts
lib/lib/streaming/index.ts
lib/lib/streaming/tool-definitions.ts
lib/lib/streaming/tool-execution.ts
lib/lib/streaming/types.ts
lib/lib/tools/academic_search.ts
lib/lib/tools/ask_question.ts
lib/lib/tools/code_interpreter.ts
lib/lib/tools/currency_converter.ts
lib/lib/tools/datetime.ts
lib/lib/tools/duckduckgo_search.ts
lib/lib/tools/exa_search.ts
lib/lib/tools/flight_tracker.ts
lib/lib/tools/geocoding.ts
lib/lib/tools/image_edit.ts
lib/lib/tools/image_generate.ts
lib/lib/tools/index.ts
lib/lib/tools/linkup_search.ts
lib/lib/tools/mapbox_text_search.ts
lib/lib/tools/mcp_search.ts
lib/lib/tools/memory_manager.ts
lib/lib/tools/music_search.ts
lib/lib/tools/nearby_search.ts
lib/lib/tools/question.ts
lib/lib/tools/reason_search.ts
lib/lib/tools/retrieve.ts
lib/lib/tools/searxng_search.ts
lib/lib/tools/stock_chart.ts
lib/lib/tools/text_translate.ts
lib/lib/tools/tmdb_search.ts
lib/lib/tools/tmdb_trending.ts
lib/lib/tools/weather.ts
lib/lib/tools/web_search.ts
lib/lib/tools/x_search.ts
lib/lib/tools/youtube_search.ts
lib/lib/types/index.ts
lib/lib/types/search.ts
bun.lock
bun.lock
